<!-- Linking the header from the partials -->
<%- include('partials/header') %>

<h1>Hello, <%= name %></h1>

<hr>

<h2>See what people have in their mind!</h2>

<hr>

<!-- Setting up the view with the data we fetched from the database -->
<%  if (tweets.length > 0){  %>
    <%  tweets.forEach(tweets => {  %>
        
            <h5 class = 'title'><%=  tweets.username  %> says...</h5>
            <p class = 'tweet'><a class = 'single' href = '/tweet/<%=  tweets._id  %>'><%=  tweets.tweet  %></a></p>
            <h7 class = 'tweetTime' style="font-size:0.8vw;"><%=  Date(tweets.updatedAt)  %></h7>
            <hr>
    <%  })   %>

<%  }else {   %>
    <h4>There no tweets to display...</h4>
<%  }   %>